:root {
    --width-small: 5em;
    --width-medium: 7.5em;
    --width-large: 10em;
    --width-xlarge: 12.5em;
    --width-xxlarge: 15em;
}

body {
    font-family: Arial, sans-serif;
}

main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
    color: #666;
}

#download-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

#remove-background {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-top: 1em;
}

.width-small {
    width: var(--width-small);
}

.min-width-small {
    min-width: var(--width-small);
}

.width-medium {
    width: var(--width-medium);
}

.min-width-medium {
    min-width: var(--width-medium);
}

.width-large {
    width: var(--width-large);
}

.min-width-large {
    min-width: var(--width-large);
}

.width-xlarge {
    width: var(--width-xlarge);
}

.min-width-xlarge {
    min-width: var(--width-xlarge);
}

.width-xxlarge {
    width: var(--width-xxlarge);
}

.min-width-xxlarge {
    min-width: var(--width-xxlarge);
}

input[type="number"]:invalid {
    border-color: red;
    color: red;
}

.pure-form-input {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
}

.pure-form-input input,
.pure-form-input select {
    flex: 1 1 auto;
    width: 100%;
    border-radius: 0 !important;
}

.pure-form-input input.width-small,
.pure-form-input select.width-small {
    width: var(--width-small);
}

.pure-form-input input.width-medium,
.pure-form-input select.width-medium {
    width: var(--width-medium);
}

.pure-form-input input.width-large,
.pure-form-input select.width-large {
    width: var(--width-large);
}

.pure-form-input *:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.pure-form-input *:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.pure-form-input span.pure-form-addon {
    display: inline-block;
    background-color: #eee;
    height: 100%;
    padding: 0.5em 0.6em;
    vertical-align: middle;
    border: 1px solid #ccc;
    flex: 0 0 auto;
}

.pure-form-input input:has(+span.pure-form-addon),
.pure-form-input select:has(+span.pure-form-addon) {
    border-right-width: 0;
}

.pure-form-input span.pure-form-addon + input,
.pure-form-input span.pure-form-addon + select {
    border-left-width: 0;
}

.pure-form-input span.pure-form-addon:has(~input[type="number"]:invalid),
.pure-form-input input[type="number"]:invalid ~ span.pure-form-addon {
    border-color: red;
    color: red;
}

/* pdf rendering */

#pages,
#pages-back {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid black;
}

.page .page-info {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0.5em;
    text-align: center;
}

.page.excluded {
    opacity: 0.5;
}

.page .grid-container {
    position: relative;
}

.page .grid-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: crosshair;
}

#coordinates {
    font-size: 0.8em;
    color: #666;
}

/* card rendering */

#cards {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
}

.inclusion-info {
    font-size: 0.8em;
    color: #666;
    margin: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    max-width: 30%;
}

.card.excluded {
    opacity: 0.5;
}

.card.landscape {
    max-width: 50%;
}

.card.portrait {
    max-width: 30%;
}

.card .card-info {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0.5em;
    text-align: center;
}

.card .front {
    border: 5px solid blue;
}

.card .back {
    border: 5px solid red;
}

/* pdf output */

.output iframe {
    width: 100%;
    height: 100%;
}
